In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import gc
import seaborn as sns

In [12]:
train_1 = pd.read_csv('./months1_10/01.csv')
for i in range(1, 10):
    train_temp = pd.read_csv('./months1_10/0'+ str(i) + '.csv')
    train_1 = pd.concat((train_1, train_temp), axis=0)
    del train_temp
    gc.collect()

In [13]:
train_1.shape

(80322470, 3)

In [17]:
train_1['phone_id'].unique().shape

(19325826,)

In [9]:
train_1.head()

   phone_id     time_stamp  loc_id
0  19886128  2017-01-01 00       1
1  23091728  2017-01-01 00       1
2   5347134  2017-01-01 00       1
3  28169624  2017-01-01 00       1
4   4415944  2017-01-01 00       1

In [5]:
train_1.shape

(5260349, 3)